#b{border-radius: 2px;}
#a1{margin-top: 45px;margin-right:60px;background-color: azure;text-align:center;}
title{color:rgb(43, 43, 108)}
h1{color:rgb(37, 37, 99)}
h3{color:blue}
#stepForVegetableSalad{display: inline;}
#footerTag{color:purple}
li{color:purple}
p{color:purple}
